* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body { 
	text-align: left; 
	width: 100%; 
	height: 100%; 
	font-size: 62.5%; 
	font-family: Helvetica, arial, sans-serif; 
	color: #000;
	background-color: #FFFEEB; 	
	margin: 0; 
	border: 0; 
	padding: 0;
}

a {
	color: #FF007F;
	text-decoration: none;
	outline: none;
}

.left_col a {
	color: #fff;
	text-decoration: none;
	outline: none;
}

.left_col a:hover {
	color: #fff;
	text-decoration: underline;
	outline: none;
}

.left_col a:visited {
	color: #fff;
}

.left_col a:active {
	color: #fff;
}

img, a img {
	border-style: none;
}

h1, .h1 {
	font-size: 3.4em;
}
h2, .h2 {
	font-size: 2em;
} /* 20pt */

h3, .h3 {
	font-size: 1.8em;
} /* 18pt */

h4, .h4 {
	font-size: 1.6em;
} /* 16pt */

h5, .h5 {
	font-size: 1.4em;
} /* 14pt */

h6, .h6 {
	font-size: 1.1em;
} /* 11pt */

.small {
	font-size: .9em;
}

.clearer {
	clear: both;
}

.header { 
	text-align: center; 
	background: #4f0f00; 
	color: #fff; 
	width: 980px; 
	margin: 0 0 0 0; 
	border: 0; 
	padding: 10px; 
	overflow: hidden;	
}

.left_col { 
	text-align: left;
	float: left; 
	background: #007ca5; 
	color: #fff; 
	width: 160px; 
	height: 470px; 
	margin: 0 0 0 0; 
	border: 0; 
	padding: 10px; 
	overflow: hidden;
}

.main_col {
	text-align: left; 
	float: right; 
	background: #fff; 
	color: #000; 
	width: 800px; 
	height: 470px; 
	margin: 0 0 0 0; 
	border: 0; 
	padding: 10px; 
	overflow: hidden;
	
}

.footer { 
	text-align: right; 
	background: #eceae1; 
	color: #000; 
	width: 980px; 
	margin: 0 0 0 0; 
	border: 0; 
	padding: 10px; 
	overflow: hidden;
}

.wrapper { 
	text-align: center;
	width: 1000px; 
	margin-left: auto; 
	margin-right: auto;
	
}


#products {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#products td, #products th {
    font-size: 1.2em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#products th {
    font-size: 1.4em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #4682B4;   
    color: #ffffff;
}

#products tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}


#categories {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#categories td, #categories th {
    font-size: 1.2em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#categories th {
    font-size: 1.4em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #4682B4;   
    color: #ffffff;
}

#categories tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}

.myLink {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:13px;
	padding:4px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}